// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.plus-jakarta-sans-<uniquifier> {
  font-family: "Plus Jakarta Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
* {
    scroll-behavior: smooth;
}
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:;
    font-style: normal;
    background-color:  #F2F5EA;
}
.first-section {
    background-color:  #F2F5EA;
    /* height: 500px; */
    color: #2C363F;
    padding-bottom: 150px;

}
.first-section header {
    display: flex; 
    position: sticky;
    top: 15px;
    font-weight: 500;  
    
}
header .anchor {
    display: flex;
    gap: 20px;
    width: 324px;
    margin-left: 500px;
    margin-top: 15px;
    font-weight: 500;
}
header a {
    text-decoration: none;
    color: #2C363F;

}
header button {
    margin-left: 190px;
    padding: 10px 30px;
    color: #2C363F;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #2C363F;
}
span {
    display: block;
    /* width: 100%; */
    border: 1px solid  #2c363fa8;
    margin-top: 30px;
}
.rectangle {
    width: 200px;
    height: 10px;
    background-color: #2C363F;
    margin-top: 220px;
    /* margin-left: 120px; */
}

.first-section img {
    margin-left: 10px;
}
article {
    display: none;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    bottom: -370px;
    right: 60px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: #2C363F;
}
.absolute {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.svg {
    position: absolute;
    top: -19px;
    right: 0;
}
article a {
    text-decoration: none;
    color: #F2F5EA;

}
article a:hover {
    text-decoration: underline;
}
/* article */
.active {
    display: flex;
}
.first-section .word {
    margin-left: 120px;
    position: absolute;

}
.first-section .word h1 {
    font-weight: 800;
    font-size: 77px;
    margin-bottom: 10px;
}
.first-section .word p {
    font-size: 22px;
    font-weight: 400;
}
main {
    display: flex;
}
.hero {
    margin-top: 100px;
    margin-left: 570px;
    /* position: relative; */
    /* right: 100px; */
}
.hero .hero1 {
    width: 550px;
}
.scroll {
    position: absolute;
    bottom: -200px;
    right: 10px;
    cursor: pointer;
}
.let {
    padding: 18px 40px;
    background-color: #2C363F;
    color: white;
    font-weight: 700;
    font-size: 24px;
    border: none;
    margin-top: 5px;
}
.social-icons {
    margin-top: 90px;
    color: black;
}
.icons {
    display: flex;
    gap: 30px;
}
/* second-section */
.second-section {
    display: flex;
    gap: 150px;
    width: 100%;
    background: #2C363F;
    height: 694px;
    color: #F2F5EA;
    font-family: Plus Jakarta Sans;
    padding-bottom: 80px;
}
.second-section .word {
    margin-left: 120px;
}
.span2 {
    width: 100px;
    height: 8px;
    background: #F2F5EA;
    margin-top: 120px;
}
.second-section h1 {
    margin-top: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 56px;
    font-style: normal;
    margin-left: 0;
    /* padding-right: 20px; */
}
.eclipse {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F5EA;
    margin-top: 120px;
    color: #2C363F;
}
.eclipse p {
    font-weight: 700;
    font-size: 24px;
}
.item {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.item p {
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
}
.item-words  {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.item-text {
    display: flex;
    align-items: center;
    gap: 200px;
}
.item-text p {
    font-size: 56px;
    font-weight: 700;
    gap: 10px;
    margin: 10px;
}
.item-text  h2 {
    margin: 0;
    font-weight: 400;
    font-size: 32px;

}
.item-text2 .item-words  {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.item-text2 {
    display: flex;
    align-items: center;
    gap: 90px;
    margin-top: 20px;
}
.span3 {
    width: 591px;
     border: 1px solid  #F2F5EA;
     margin-top: 30px;
}
.item-text2 h2 {
    /* margin: 0; */
    font-weight: 400;
    font-size: 30px;
}
.item-text2 p {
    font-size: 56px;
    font-weight: 700;
    gap: 10px;
    margin: 10px;
}
/* third section */
.third-section  {
    height: 900px;
    background-color: #F2F5EA;
    color: #2C363F;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.third-section .word {
 margin-left: 120px;
 margin-top: 100px;
}
.third-section h2 {
    font-size: 56px;
    font-weight: 800;
    margin: 0;
}
.third-section .word p {
    font-size: 18px;
    font-weight: 600;
}
.third-section .main {
    display: flex;
    gap: 100px;
    margin-left: 120px;
    margin-right: 100px;
    border: 1px solid #2C363F;
    border-radius: 5px;
}
.main-left {
    margin-top: 120px;
}
.main-left p {
    font-size: 18px;
    font-weight: 600;
}
.main-left h2 {
    font-size: 32px;
    font-weight: 700;
}
.main-left h3 {
    font-size: 16px;
    font-weight: 400;
}
/* fourth */
.fourth-section {
    /* display: flex; */
    /* justify-content: center; */
    padding-bottom: 50px;
    color: #2C363F;
}
.fourth-section .main {
    display: flex;
    gap: 100px;
    /* width: 82%; */
    margin-left: 120px;
    margin-right: 100px;
    border: 1px solid #2C363F;
    border-radius: 5px;
}
.fourth-section .main-left {
    margin-left: 75px;
}
/* fifth */
.fifth-section {
    /* display: flex;
    justify-content: center; */
    color: #2C363F;
}
.fifth-section .main {
    display: flex;
    gap: 100px;
    /* width: 82%; */
    margin-left: 120px;
    margin-right: 100px;
    border: 1px solid #2C363F;
    border-radius: 5px;
}
.fifth-section .main-left {
    margin-right: 80px;
}










@media screen and (max-width:700px) {
    /* .first-section main {
        display: flex;
        flex-direction: column;
    } */
    .second-section {
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .third-section {
        height: auto;
        padding-bottom: 50px;
    }
    .third-section .main {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 10px;
    }
    .fourth-section .main {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .fifth-section .main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;

    }
}